<ui:composition
       
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
> 
        
          <h:form id="recapComCli" styleClass="formulaire">
            
            <f:view>  
                   
              <ui:include   src="/WEB-PAGES/blocs/blocselectionclientCmdParClient.xhtml" />
        
              <p:separator  styleClass="separateur"/>
            
              <ui:include   src="/WEB-PAGES/blocs/blocinfosclientCmdParClient.xhtml"/>
             
              <p:separator  styleClass="separateur"/> 
           
              <ui:include   src="/WEB-PAGES/blocs/bloctableauCmdParClient.xhtml"/>
      
            </f:view>  
             
           </h:form>   
        
</ui:composition>      

