<ui:composition
    
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
              
 <p:panel id="blocInfosClient"
          
          styleClass="infosClientRecap" 
          toggleable="true"   collapsed="false" 
          closeSpeed="1500"   toggleTitle="Réduire" 
 >
     
     <f:facet name="header" >
         <h:outputLabel value=" #{controleurSelectionClient.clientSel.nomCli}"  />
     </f:facet>
     
     <p:panelGrid  id="pgInfosClient" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
                                  
         <p:outputLabel for="otAdresse" value="Adresse"/>
         <h:outputText  id="otAdresse" 
                        value="#{controleurSelectionClient.clientSel.adrCli}  #{controleurSelectionClient.clientSel.laRegion.nomRegion}" 
          />
                     
         <p:outputLabel for="otCaClient" value="Chiffres d'affaires: "/>
         <h:outputText  id="otCaClient"                       
                        value="#{controleurCommandesParClient.calculCaClient()}"
         >
           <f:convertNumber 
                          type="currency" currencySymbol="€" 
                          groupingUsed="true"
                          minFractionDigits="2"  
           />                     
        </h:outputText>    
   
                             
        <p:outputLabel  for="otSoldeClient" value="Solde: "/>
        <h:outputText   id="otSoldeClient"                       
                        value="#{controleurCommandesParClient.calculSoldeClient()}"
         >
           <f:convertNumber 
                          type="currency" currencySymbol="€" 
                          groupingUsed="true"
                          minFractionDigits="2" 
           />
                        
         </h:outputText>    
      
        
  </p:panelGrid>    
     
  <p:ajax event="toggle"   update="@this"/>   
 </p:panel>   

</ui:composition>  
   