
<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
          
    <p:selectOneListbox   id="blocSelClient"
              
        style= "border-radius: 15px;width: 50%; 
                border: solid deepskyblue;
                background-color: silver; max-height: 75px;"
                                  
        value="#{controleurSelectionClient.clientSel}"   
    >
            
        <f:selectItems    
            value     = "#{controleurSelectionClient.lesClients}" 
            var       = "clt"
            itemLabel = "#{clt.nomCli}"             
         />  
           
         <p:ajax   event="change"
                   listener="#{controleurCommandesParClient.traiterSelectionCombo()}"
                   update="blocInfosClient, blocTableauCommandes"                
         /> 
           
     </p:selectOneListbox> 
            
</ui:composition>   


