
<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
              
    <p:selectOneListbox  id="comboCliCrud" 
              
        style= "border-radius: 15px;width: 40%; 
                border: solid deepskyblue;
                background-color: silver; max-height: 75px;"
                                  
                value="#{controleurSelectionClient.clientSel}"   
    >
            
        <f:selectItems    
            value="#{controleurSelectionClient.lesClients}" 
            var       = "clt"
            itemLabel = "#{clt.nomCli}"    itemValue="#{clt}"          
         />  
           
         <p:ajax   event="change"
                   update="infosclientPourCrud"
         /> 
           
     </p:selectOneListbox> 
    
</ui:composition>   


