<ui:composition 
    
    template="/WEB-PAGES/masters/master.xhtml" rendererType="#{controleurSession.connexionOK}"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
               
      <ui:define name="panneauNord" rendered="#{controleurSession.connexionOK}">               
            <ui:include  src="/WEB-PAGES/panneaux/nord_TitreCommandesParClients.xhtml"/>   
      </ui:define> 
            
      <ui:define name="panneauCentral" rendered="#{controleurSession.connexionOK}" >
            <ui:include src="/WEB-PAGES/panneaux/centre_CommandesParClients.xhtml" />  
      </ui:define> 
     
</ui:composition>


