<ui:composition 
    
    template="/WEB-PAGES/masters/master.xhtml" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
          
          <ui:define name="panneauNord" >               
           <ui:include src="/WEB-PAGES/panneaux/nord_TitreConnexion.xhtml"/>
          </ui:define> 
            
          <ui:define name="panneauCentral"  >
           <ui:include src="/WEB-PAGES/panneaux/centre_Connexion.xhtml"/>
          </ui:define> 
             
</ui:composition>
 
